.Accbttn {
  margin-right: 4px;
  border-radius: 20px;
  width: 80px;
  height: 28px;
  color: #f7f1ed;
  background-color: #ae1f126a;
  font-size: medium;
  border-style: none;
}

.Refbttn {
  border-radius: 20px;
  width: 80px;
  height: 28px;
  color: #f7f1ed;
  background-color: #ae1f126a;
  border-style: none;
}

.Refbttn:hover {
  background-color: #ae2012;
}
.Accbttn:hover {
  background-color: #ae2012;
}
