.modern-button {
  background-color: #f7f1ed;
  border: 1px solid rgb(21, 19, 19);
  padding: 5px 5px;
  font-size: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 11px;
}

.modern-button:hover {
  background-color: #eed4c5c5;
  transform: scale(1.1);
  color: #a52a2a;
}

.heart {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.heart:hover {
  fill-rule: #a52a2a;
}

.basket {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.modern-button.cart {
  margin-left: 7px;
  margin-top: -30px;
  display: flexbox;
}

.modern-button.RemButton {
  display: flexbox;
}

.card > img {
  height: 50%;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #ae2012;
  text-decoration: none;
  margin-right: 15px;
  margin-top: -35px;

  padding: 0;
  font-family: "Poppins", sans-serif;
}

.card-title.price {
  font-size: 1em;
  font-weight: bold;
  color: #ae2012;
  text-decoration: none;

  text-align: right;

  padding: 0;
  font-family: "Poppins", sans-serif;
}

.card.delete {
  display: none;
}
