.Accbttn1 {
  margin: 5px;
  border-radius: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;

  border-style: none;
  background-color: #ae2012;
  color: aliceblue;
  width: 28px;
}
.plusmoins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 3px;
  text-align: center;
}

.Refbttn1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 40px;
  border-style: none;
  background-color: #ae2012;
  color: aliceblue;
  width: 28px;
}

.quantitybttn {
  margin: 2px;
  width: 50px;
  border-radius: 5px;
  border-style: groove;
}
